@font-face {
  font-family: "Dearkatienbp";
  src: url("./assets/Dearkatienbp-nZeg.ttf") format("truetype");
}

* {
  font-family: "Dearkatienbp";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font: "Dearkatienbp";
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
